@model CafeAssistiant.Models.Employee

<h2>Додати працівника</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Ім'я</label>
        <input asp-for="EmployeeName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Посада</label>
        <input asp-for="Position" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input asp-for="Phone" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Місто</label>
        <input asp-for="City" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Зарплата</label>
        <input asp-for="Salary" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Дата співпраці</label>
        <input asp-for="EmployeeCooperation" class="form-control" type="date" required />
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
